.forecast-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 1em;
  width: 90%;
  height: 20%;
  margin: 0 auto 3%;
  overflow-x: auto;
  background-color: rgba(40, 86, 163, 0.3);
  /* Potential background colors */
  /* background-color: rgba(173, 216, 230, 0.5); */ 
  /* background-color: rgba(107, 165, 255, 0.5); */
  /* background-color: rgba(105, 105, 105, 0.3); */
}

.forecast-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* set the color of the scrollbar thumb */
  border-radius: 10px; /* add some border radius to make it look nicer */
}

.forecast-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* set a darker color on hover */
}
