/* Styling the container for today's conditions */
.main-container {
  width: 100%;
  min-height: 30vh;
  max-height: 40vh;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Styling the title for today's conditions */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}
.timezone {
  font-size: .75rem;
    line-height: 1rem;
  font-weight: 300;
  text-align: center;
}

/* Styling the low/high temps of today's conditions */
.today-low-high {
  display: flex;
  padding-top: .5rem;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.today-low-high p {
  font-size: .9rem;
  line-height: 1rem;
  font-weight: 300;
  margin: 0 1rem;
}

@media screen and (max-height: 895px) {
  .today-low-high p {
    font-size: .8rem;
    line-height: .9rem;
    font-weight: 200;
  }
  .title {
    font-size: 1.2rem;
    line-height: .9rem;
    font-weight: 300;
  }
  .timezone {
    font-size: .6rem;
    line-height: .9rem;
    font-weight: 200;
  }
}
